body {
  display: flex;
  align-items: center;
  justify-content: center;  
  font-family: 'Courier New', Courier, monospace;
  background-color:#23252C;
  color: white; 
  
}

.App {
  margin: 40px;
width: 317px;
background: #1A1B21;
border-radius: 10px;
}